

#react-root, article, div, footer, header, main, nav, section {
  display: flex;
  align-items: stretch;
  border: 1 solid #000
}

section {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  order: 4;
}

article {
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 32px auto 0;
  max-width: 935px;
  padding-bottom: 32px;
  width: 100%;
}

.phoneContainer {
  flex-direction: column;
}

.loginContainer {
  flex-direction: column;
}
