<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <script src="https://kit.fontawesome.com/d7b81d931d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="/js/home/login.js" defer></script>
</head>

<body>
    <section class="login">
        <div class="login__left">
        </div>
        <div class="login__right">
            <div class="login__right1">
                <h1 class="login__title">Instagram</h1>
                <div class="login__input">
                    <div>
                        <div class="login__user">
                            <label for="loginid">
                                <input type="text" id="loginid" placeholder="전화번호, 사용자 이름 또는 이메일">
                            </label>
                        </div>
                        <div class="login__pw">
                            <label for="loginpw">
                                <input type="text" id="loginpw" placeholder="비밀번호">
                            </label>
                        </div>
                        <button class="login__submit">로그인</button>
                        <br>
                        <div class="login__or">
                            <div class="line"></div>
                            <div class="or__text">또는</div>
                            <div class="line"></div>
                        </div><br>
                        <i class="fab fa-facebook-square"></i>
                        <a href="#" class="login__facebook">Facebook으로 로그인</a><br><br>
                        <a href="#" class="login__lost">비밀번호를 잊으셨나요?</a>
                    </div>
                </div>
            </div>
            <div class="login__right2">
                <p class="signup">계정이 없으신가요? <a href="#" class="login__signup">가입하기</a></p>
            </div>
            <div class="login__right3">
                <p class="app__down">앱을 다운로드하세요.</p>
            </div>
        </div>
    </section>

    <footer class="login__footer">
        <div class="footer__link">
            <p>Meta 소개  블로그  채용 정보  도움말  API  개인정보처리방침  약관  인기 계정  해시태크  위치  Instagram Lite</p>
            <p>댄스  식음료  집 및 정원  음악  시각 예술</p>
        </div>
        <div class="footer__copyright">한국어  ©2022 Instagram from Meta</div>
    </footer>
</body>

</html>