<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <script src="https://kit.fontawesome.com/d7b81d931d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="/js/home/main.js" defer></script>
</head>

<body>
    <!-- header -->
    <header class="main__header">
        <div class="header__wrapper">
            <h2 class="header__title">Instagram</h2>
            <div class="header__search">
                <input type="text" id="search" placeholder="검색">
            </div>
            <div class="header__icons">
                <i class="fas fa-home"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-plus-square"></i>
                <i class="far fa-compass"></i>
                <i class="far fa-heart"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="main__wrapper">
            <!-- stories & posts -->
            <div class="main__left">

                <!-- stories -->
                <div class="stories">
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                    <div class="story">
                        <div class="story__profile"></div>
                        <div class="story__name">OYR____10</div>
                    </div>
                </div>

                <!-- posts -->
                <div class="posts">
                    <div class="post">
                        <div class="post__header">
                            <div class="post__profile"></div>
                            <div class="post__info">
                                <p class="post__id">OYR__10</p>
                            </div>
                            <div class="post__more"><i class="fas fa-ellipsis-h"></i></div>
                        </div>
                        <div class="post__img"></div>
                        <div class="post__btn">
                            <div class="post__btn--left">
                                <i class="far fa-heart like__btn" data-clicked="0"></i>
                                <i class="far fa-comment post__on"></i>
                                <i class="far fa-paper-plane"></i>
                            </div>
                            <div class="post__btn--right">
                                <i class="far fa-bookmark save__btn" data-clicked="0"></i>
                            </div>
                        </div>
                        <div class="post__like">좋아요 46개</div>
                        <div class="post__content">
                            <span class="post__content--id">OYR__10</span> 안녕하세요:)
                        </div>
                        <div class="post__time">49분전</div>
                        <div class="post__comments">
                            <i class="far fa-smile"></i>
                            <input type="text" class="comments__input" placeholder="댓글 달기...">
                            <button class="comments__btn">게시</button>
                        </div>
                    </div>

                    <div class="post">
                        <div class="post__header">
                            <div class="post__profile"></div>
                            <div class="post__info">
                                <p class="post__id">OYR__10</p>
                            </div>
                            <div class="post__more"><i class="fas fa-ellipsis-h"></i></div>
                        </div>
                        <div class="post__img"></div>
                        <div class="post__btn">
                            <div class="post__btn--left">
                                <i class="far fa-heart"></i>
                                <i class="far fa-comment"></i>
                                <i class="far fa-paper-plane"></i>
                            </div>
                            <div class="post__btn--right">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                        <div class="post__like">좋아요 46개</div>
                        <div class="post__content">
                            <span class="post__content--id">OYR__10</span> 안녕하세요:)
                        </div>
                        <div class="post__time">49분전</div>
                        <div class="post__comments">
                            <i class="far fa-smile"></i>
                            <input type="text" class="comments__input" placeholder="댓글 달기...">
                            <button class="comments__btn">게시</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- user & recommended-->
            <div class="main__right">
                <div class="right__wrapper">
                    <div class="user">
                        <div class="user__profile"></div>
                        <div class="user__info">
                            <p class="info__id">OYR__10</p>
                            <p class="info__name">김김김</p>
                        </div>
                        <div class="user__change">전환</div>
                    </div>
                    <div class="recommend">
                        <div class="reco__friends">
                            <div class="reco__header">
                                <div class="reco__title">
                                    회원님을 위한 추천
                                </div>
                                <div class="reco__total">모두 보기</div>
                            </div>
                            <div class="friends">
                                <div class="friend">
                                    <div class="friend__profile"></div>
                                    <div class="friend__info">
                                        <p class="info__id">OYR__10</p>
                                        <p class="info__name">nnnnnnnn님 외 9명이 팔로우합니다</p>
                                    </div>
                                    <div class="user__change">팔로우</div>
                                </div>
                                <div class="friend">
                                    <div class="friend__profile"></div>
                                    <div class="friend__info">
                                        <p class="info__id">OYR__10</p>
                                        <p class="info__name">nnnnnnnn님 외 9명이 팔로우합니다</p>
                                    </div>
                                    <div class="user__change">팔로우</div>
                                </div>
                                <div class="friend">
                                    <div class="friend__profile"></div>
                                    <div class="friend__info">
                                        <p class="info__id">OYR__10</p>
                                        <p class="info__name">nnnnnnnn님 외 9명이 팔로우합니다</p>
                                    </div>
                                    <div class="user__change">팔로우</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- modal -->
    <div class="modal">
        <div class="modal__box">
            <p class="modal__text">신고</p>
            <div class="modal__line"></div>
            <p class="modal__text">팔로우 취소</p>
            <div class="modal__line"></div>
            <p>게시물로 이동</p>
            <div class="modal__line"></div>
            <p>태그된 계정</p>
            <div class="modal__line"></div>
            <p>공유 대상...</p>
            <div class="modal__line"></div>
            <p>링크 복사</p>
            <div class="modal__line"></div>
            <p>퍼가기</p>
            <div class="modal__line"></div>
            <p class="modal__cancel">취소</p>
        </div>
    </div>
    <div class="post__modal">
        <i class="fas fa-times post__modal--cancel"></i>
        <div class="post__modal--box">
            <div class="post__modal--img"></div>
            <div class="post__modal--right">
            </div>
        </div>
    </div>
</body>

</html>