<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="post-modal-wrapper">
    <img id="post-modal-x" src="../image/x_icon.png">
    <div id="post-modal">
      <div id="post-modal-left">
        <img id="post-modal-image" src="../image/post_image1.jpg">
      </div>
      <div id="post-modal-right">
        <div id="post-modal-profile1">
          <img id="post-modal-profile-image" src="../image/my_profile.jpg">
          <div id="post-modal-profile-nickname">min._.jingjing</div>
        </div>

        <div id="post-modal-profile2">
          <img id="post-modal-profile-image" src="../image/my_profile.jpg">
          <div id="post-modal-profile-nickname">min._.jingjing</div>
          <div id="post-modal-content">바다 입니다</div>
        </div>
        <div id="post-modal-comment-container">

        </div>

        <!-- <div class = "post-modal-comments"></div> -->
        <div class="post-icon-container">
          <div class="post-icon post-icon-heart"></div>
          <img class="post-icon post-icon-comment" src="../image/comment_icon.png">
          <img class="post-icon" src="../image/message.png">
          <div class="post-icon post-icon-store"></div>
          <div id="post-modal-like">좋아요 50개</div>
          <div id="post-modal-time">1분 전</div>
        </div>

        <div>
          <form id="comment-form">
            <input id="post-modal-comment-input" type="text" placeholder="    댓글 달기...">
            <button id="post-modal-comment-button">게시</button>
          </form>
        </div>

      </div>
    </div>
  </div>


</body>

</html>