html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
li {
  list-style: none;
}
.like_cnt {
  font-size: 14px;
  padding-left: 16px;
}
.commentLocation {
  padding-left: 0px;
}
header {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  top: 0px;
  width: 100vw;
}
.headerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 935px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.Logo {
  flex: 1;
}
.Search {
  flex: 1;
  text-align: center;
}
.Search input {
  background: rgba(var(--bb2, 239, 239, 239), 1);
  border: none;
  font-size: 16px;
  padding: 0 16px;
  width: 236px;
  height: 36px;
  border-radius: 8px;
}
input:focus {
  outline: none;
}
.headerNav {
  display: flex;
  flex: 1;
}
.headerNav li {
  list-style: none;
  padding-left: 24px;
}

.mainBoard {
  display: flex;
  width: 935px;
  margin: auto;
  margin-top: 61px;
  padding-top: 30px;
  flex-grow: 1;
}
.leftBoard {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}
.storyBoard {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding: 16px 0;
  height: 85px;
  margin-bottom: 24px;
}
.story {
  display: inline-block;
  text-align: center;
  margin-left: 16px;
}
.rightBoard {
  display: flex;
  flex-direction: column;
  width: 293px;
  position: fixed;
  right: calc((100vw - 935px) / 2);
}
.storyName {
  margin: 0;
  font-size: 11px;
}
.postingBoard {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-bottom: 24px;
}
.pb_header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.pb_header img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.userInfo {
  display: flex;
  align-items: center;
  padding: 14px 4px 14px 16px;
}
.userInfo img {
  width: 42px;
  height: 42px;
}
.userName {
  color: rgba(var(--f75, 38, 38, 38), 1);
  font-size: 14px;
}
.pb_f_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding-left: 16px;
}
.pb_f_header img {
  width: 24px;
  height: 24px;
  padding: 8px 16px 8px 0px;
}
.pb_f_header ul {
  display: flex;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 0;
}
.pb_f_header li {
  list-style: none;
}
.pb_f_main {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.pb_f_main p {
  margin-left: 2px;
  font-size: 14px;
}
.pb_f_footer {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}
.pb_f_footer img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.pb_f_footer input {
  border: none;
}
.pb_f_footer input:focus {
  outline: none;
}
.accountCompo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accountInfo {
  display: flex;
  align-items: center;
}
.accountInfo img {
  margin-right: 16px;
}
.nameID p {
  margin: 0;
}
.recommendationForMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommendationForMe p {
  color: #8e8e8e;
  font-size: 14px;
}
#viewAll {
  color: #262626;
  font-size: 12px;
}
.recommendedPeople {
  display: flex;
  justify-content: space-between;
}
.peopleInfo {
  display: flex;
  justify-content: space-between;
}
.peopleInfo img {
  margin-right: 16px;
  margin-bottom: 16px;
}
.rcoment {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
}
.coment {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 14px;
}
.buttonP {
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 12px;
}
.licenseCompo {
  font-size: 12px;
  color: #c7c7c7;
}
.licenseCompo ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 0px 16px;
}
.licenseCompo li {
  list-style: none;
}
.licenseCompo li::after {
  content: ".";
  margin-left: 3px;
  margin-right: 3px;
}
.licenseCompo li:last-child::after {
  content: none;
}
.menuModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
}
.commentModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
}
.modelBox {
  width: 400px;
  height: 384px;
  border: 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.mb_option {
  font-size: 14px;
  color: #262626;
  text-align: center;
  height: 48px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.mb_red {
  color: #ed4956;
}
.mb_option:last-child {
  border: none;
}
.postingView {
  display: flex;
  width: 1260px;
  height: 855px;
}
.pv_Photo {
  width: 855px;
  height: 855px;
  display: flex;
  align-items: center;
  background-color: black;
}
.pv_Photo img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.pv_Describe {
  width: 405px;
  position: relative;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.pv_userCompo {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.pv_userCompo img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.pv_context p {
  margin-top: 0px;
  padding-left: 60px;
  font-size: 14px;
  color: #262626;
}
.co_context p {
  margin: 0px;
  font-size: 14px;
  color: #262626;
}
.comment {
  display: flex;
  align-items: center;
}
.pv_footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}
.pv_w_Comment {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);

  padding-bottom: 6px;
  padding-top: 6px;
}
.pv_w_Comment input {
  border: none;
}
.cancelBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .rightBoard {
    display: none;
  }
  .leftBoard {
    margin: auto;
  }
}
